apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend-backend:latest
          imagePullPolicy: Always


          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: MONGO_URI
              value: mongodb://mongo:27017/krushiscan_ai
            - name: REDIS_URL 
              value: redis://redis:6379
            - name: JWT_SECRET
              value: krushiscan_secret
